<nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">
  <img width="100px" src="https://www.seekpng.com/png/detail/209-2096181_dive4-getting-to-koh-tao-train-logo-black.png" alt="">
  <h1>GOLDEN LINE KERALA RAIL LIMITED</h1>

  <div class="collapse navbar-collapse myaccount" id="navbarSupportedContent">
    <form class="form-inline  my-2 my-lg-0 ">
      <button class="btn btn-outline-success  text-light my-2 my-sm-0 me-3" routerLink="/home" type="submit">Back to Home</button>
      <button class="btn btn-outline-success  text-light my-2 my-sm-0 me-3" type="submit" (click)="logout()">logout</button>

    </form>
  </div>
</nav>

    
    
    
    
    
    <!--Table-->
    <table class="table  w-auto">
      <!--Table head-->
      <thead>
        <tr>
          <th>No.</th>
          <th>Train Number</th>
          <th>Departure</th>
          <th>Departure Time</th>
          <th>Destination</th>
          <th>Destination Time</th>
          <th>Booking</th>
        </tr>
      </thead>
      <!--Table head-->
    
      <!--Table body-->
      <tbody>
        <tr class="table-info" *ngFor="let time of times let i=index">
          <td scope="row">{{i+1}}</td>
          <td>{{time.TNO}}</td>
          <td>{{from}}</td>
          <td>{{time.S}}</td>
          <td>{{to}}</td>
          <td>{{time.E}}</td>
          <button (click)="booknow(times,i)">Book Now</button>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->


    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #3b5998;"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #dd4b39;"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #ac2bac;"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #0082ca;"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <!-- Github -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #333333;"
            href="#!"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-0">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> TRIVANDRUM CENTRAL, TRIVANDRUM, KERALA</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            goldenrail@kerala.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 91 9876598765</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> + 91 9089090890</p>
        </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">goldenrailkerala.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  