table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
th{
    background-color: rgb(192, 160, 224);
}
table,th,tr,td{
    border: 2px black solid;

}
table button{
    border: none;
    background-color: bisque;
}
table button:hover{
    background-color: rgb(125, 159, 202);
}

.back{
	top: 95%;
	left: 70%;
	transform: translate(-70%,-95%);
	position: absolute;
}
.back a{
	text-decoration: none;
}
.myaccount{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

nav{
    height: 140px;
}
nav h1{
    margin-left: 10px;
    color: gold;
}
nav img{
    border-radius: 10px;
}
footer{
    margin-top: 32%;
}


