<div class="card" style="width: 28rem;">
  <img class="card-img-top" style="width: 150px; margin-left: 30%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">GOLDEN LINE KERALA RAIL LIMITED</h5>
    <p class="text-center">GT45ww23fgrtu4</p>
    <p class="card-text text-center">SEAT NO:C14</p>
  </div>
  <ul class="list-group list-group-flush">
    <div style="display: flex; justify-content: space-between;">
      <li class="list-group-item">TRAIN NO:{{trainNumber}}</li>
      <li class="list-group-item">DATE:{{date}}</li>  
    </div>
    <div style="display: flex; justify-content: space-between;">
      <li class="list-group-item">DEPARTURE:{{start}}</li>
      <li class="list-group-item">ARRIVAL:{{end}}</li>  
    </div>
    <div style="display: flex; justify-content: space-between;">
      <li class="list-group-item">FROM:{{from}}</li>
      <li class="list-group-item">TO:{{to}}</li>  
    </div>
    <div style="display: flex; justify-content: space-between;">
      <li class="list-group-item">NO. OF PASSENGERS:{{pass}}</li>
      <li class="list-group-item">PRICE:{{price}}</li>  
    </div>

  </ul>
  <div class="card-body ttr">
    <p>TTR Check <i class="fa-light fa-square fa-2x"></i></p>
  </div>
</div>
<div class="back"><a routerLink="/home">Back to Home</a></div>