.card{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-40%);
	background-color: yellow;
	border: 2px black solid;
	/* height: 600px;
	width: 600px; */
}
li{
	border: none;
	background-color: rgb(189, 223, 101);
	display: flex;

}
ul{
	background-color: rgb(189, 223, 101);
}
.ttr{
	background-color: rgb(225, 199, 166);
}
.back{
	top: 95%;
	left: 50%;
	transform: translate(-50%,-95%);
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* background-color: blueviolet; */
}
.back a{
	text-decoration: none;
	margin-right: 150PX;
}
h4{
	font-weight: bolder;
}
