<div #pdfTable="" id="htmlData" class="card content " style="width: 28rem;">
  <img class="card-img-top" style="width: 150px; margin-left: 30%;" src="../assets/qr code.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">GOLDEN LINE KERALA RAIL LIMITED</h5>
    <p class="text-center">GT45ww23fgrtu4</p>
    <p class="card-text text-center">SEAT NO:C14</p>
  </div>
  <ul class="list-group list-group-flush">
    <div style="display: flex; justify-content: space-between;">
      <li class="list-group-item" >TRAIN NO:<h5>{{trainNumber}}</h5></li>
      <li class="list-group-item">DATE:<h5>{{date}}</h5> </li>  
    </div>
    <div style="display: flex; justify-content: space-between;">
      <li class="list-group-item">DEPARTURE:<h5>{{start}}</h5> </li>
      <li class="list-group-item">ARRIVAL:<h5>{{end}}</h5> </li>  
    </div>
    <div style="display: flex; justify-content: space-between;">
      <li class="list-group-item">FROM:<h5>{{from}}</h5> </li>
      <li class="list-group-item">TO:<h5>{{to}}</h5> </li>  
    </div>
    <div style="display: flex; justify-content: space-between;">
      <li class="list-group-item">NO. OF PASSENGERS:<h5>{{pass}}</h5> </li>
      <li class="list-group-item">PRICE:<h5>Rs.{{totalRs}}</h5> </li>  
    </div>

  </ul>
  <div class="card-body ttr">
    <p>TTR Check <i class="fa-light fa-square fa-2x"></i></p>
  </div>
</div>
<div class="back">
  <div><a routerLink="/home">Back to Home</a></div>
  <div><button (click)="downloadPdf()">Download ticket</button></div>
</div>