table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
th{
    background-color: rgb(192, 160, 224);
}
table,th,tr,td{
    border: 2px black solid;
}
table button{
    border: none;
}
.downloadTicket{
	background-color: rgb(204, 212, 164);
}
.downloadTicket:hover{
	background-color: rgb(59, 227, 26);
}

.back{
	top: 95%;
	left: 70%;
	transform: translate(-70%,-95%);
	position: absolute;
}
.back a{
	text-decoration: none;
}
.myaccount{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

nav{
    height: 140px;
}
nav h1{
    margin-left: 10px;
    color: gold;
}
nav img{
    border-radius: 10px;
}
footer{
    margin-top: 32%;
}



.card{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-40%);
	background-color: yellow;
	border: 2px black solid;
	/* height: 600px;
	width: 600px; */
}
li{
	border: none;
	background-color: rgb(189, 223, 101);
	display: flex;

}
ul{
	background-color: rgb(189, 223, 101);
}
.ttr{
	background-color: rgb(225, 199, 166);
}
.down{
	top: 110%;
	left: 50%;
	transform: translate(-50%,-110%);
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* background-color: blueviolet; */
}
.down button{
	width: 150px;
	margin-right: 100px;
	border-radius: 10px;
	background-color: rgb(223, 187, 143);
}
.down button:hover{
	background-color: rgb(128, 128, 206);
}
.down a{
	text-decoration: none;
	width: 150px;
	margin-left: 100px;
	border: 2px black solid;
	border-radius: 5px;
	background-color: rgb(223, 187, 143);
	color: black;
}
.down a:hover{
	background-color: rgb(128, 128, 206);
}

h4{
	font-weight: bolder;
}




