.box{
    background-color: rgb(94, 186, 91);
    width: 500px;
    height: 350px;
    top: 32%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-32%);
    border-radius: 10px;
}
.boxhead{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.f{
    margin-top: 40px;
    margin-left: 100px;
}
.from{
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
}
.to{
    width: 300px;
    height: 40px;
    margin-bottom: 5px; 
}
.sec{
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
}
.class{
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
}
.date{
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
}
.time{
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
}
.loginbt{
    width: 200px;
    height: 30px;
    margin-left: 25%;
    border-radius: 10px;
}
.loginbt:hover{
    background-color: rgb(64, 83, 25);
    transform: scaleX(1.2);
    color: white;
    font-weight: bold;
}
/* .boxbottom{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
} */
.myaccount{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}
/* nav{
    height: 150px;
} */
nav h1{
    margin-left: 10px;
    color: gold;
}
nav img{
    border-radius: 10px;
}
footer{
    margin-top: 26%;
}
.modal-body input{
    margin-bottom: 10px;
    width: 300px;
    border-radius: 5px;
}
.modal-footer button:hover{
    color: gold;
    background-color: black;
}
